* {
    margin: 0;
    text-align: center;
}

#header{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

#home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}