:root{
    --page-bgc: rgb(104, 26, 26);
    --border-color: rgb(255, 228, 74);
    --content-bgc: rgb(240, 86, 86);
}

* {
    margin: 0;
    text-align: center;
}

body{
    background-color: var(--page-bgc);
    width: min(100%, 1000px);
    margin: auto;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;

    border: 3px solid var(--border-color);
    background-color: var(--content-bgc);
}

#header > * > h1{
    font-size: 3rem;
}

#links{
    display: flex;
    justify-content: center;
    gap: 3rem;

    font-size: 1.5rem;
}

#links > div{
    user-select: none;
}

#links > div:hover {
    text-decoration: underline;
}

#title-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* HOME PAGE */
#home-content{
    display: grid;
    grid-template-areas: 
        "news about"
        "hours about"
        "address about";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0.1rem;
}

#home-content > div{
    padding: 1rem;

    border: 3px solid var(--border-color);
    background-color: var(--content-bgc);
}

#home-content > #about{
    grid-area: about;

    font-size: 1.3rem;
}

#home-content > #news{
    grid-area: news;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 1.2rem;
}

#home-content > #hours{
    grid-area: hours;
}

#home-content > #address{
    grid-area: address;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}


/* MENU PAGE */
#menu-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: .1rem;
}

.menu-item{
    width: 300px;
    margin: auto;

    border: 3px solid var(--border-color);
    background-color: var(--content-bgc);

    font-size: 1.3rem;
    font-weight: bold;
}

/* CONTACT PAGE */
#contact-content{
    border: 3px solid var(--border-color);
    background-color: var(--content-bgc);
    padding: 1rem 0;
}

#contact-content > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
}